<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Googol {% endblock %}</title>
    <script>
        function splitInput(inputField) {
            const itemsArray = inputField.value.trim().split(/\s+/); // Split by whitespace
            inputField.value = itemsArray.join(','); // Join with a comma for submission
        }
    </script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Googol</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/enqueue">Enqueue</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/hackernews">HackerNews</a></li>
                <!-- <li><a href="/about">About</a></li> -->
                <!-- <li><a href="/contact">Contact</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Luís Góis SD Googol</p>
    </footer>
</body>
</html>
