{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Googol Search</h1>
<form method="post" action="/search">
    <div>
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" placeholder="Type your query" required>
    </div>
    <button type="submit">Search</button>
</form>
{% if results %}
    <h2>Results:</h2>
    <ul>
        {% for result in results %}
        <li>
            <a href="{{ result.href }}" target="_blank">
                {% if result.icon %}
                <img src="{{ result.icon }}" alt="{% if result.title is not none %}{{ result.title }}{% else %}Icon{% endif %} icon" />
                {% endif %}

                {% if result.title %}
                <strong>{{ result.title }}</strong>
                {% endif %}
            </a>

            {% if result.summary %}
            <p>{{ result.summary }}</p>
            {% endif %}

            {% if result.category %}
            <span>Category: {{ result.category }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}
{% endblock %}
